#correct.answer{
  background-color: #94D7A2;
  border: 1px solid #94D7A2;
}
#incorrect.answer.selected{
  background-color: #F8BCBC;
  border: 1px solid #F8BCBC;
}
#not-selected.answer{
  color: rgba(41, 50, 100, .4);
  border: 1px solid rgba(41, 50, 100, .4);
}

.selected{
  background-color: #D6DBF5;
}